    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Панель мониторинга культур
        <small>Версия 0.1</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Дом</a></li>
        <li class="active">Панель мониторинга культур</li>
      </ol>
    </section>

    <!-- Main content ----------------------------------------------------------------->
   
    <section class="content">

      
      <!-- Info boxes ----------------------------------------------------------------->
      
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon"><img  style="vertical-align: baseline" src="dist/img/2.jpg"></span>

            <div class="info-box-content">
              <span class="info-box-text">Рэд скарлет</span>
              <span class="info-box-number">Посев не начат</span>
           
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon"><img  style="vertical-align: baseline" src="dist/img/1.jpg"></span>

            <div class="info-box-content">
              <span class="info-box-text">Латона</span>
              <span class="info-box-number">Посев не начат</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon"><img  style="vertical-align: baseline" src="dist/img/3.jpg"></span>

            <div class="info-box-content">
              <span class="info-box-text">Пшеница </span>
              <span class="info-box-number">Обработать за 3 дней <i class="fa fa-warning text-red"></i></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        
        
      </div>
      <!-- /.row ---------------------------------------------------------------------->

      
      
      
    </section>
    <!-- /.content -->
  </div>

