    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        User Profile
      </h1>
      <ol class="breadcrumb">
        <li><a href="cropsafe.html"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">User profile</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user2-160x160.jpg" alt="User profile picture">

              <h3 class="profile-username text-center">Александр Погожев</h3>

              <p class="text-muted text-center">Software Engineer</p>

              
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About account Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Аккаунт</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Права аккаунта </strong>

              <p class="text-muted">
                Супер аккаунт / Ознакомительная версия / Гость / Админ / Модератор / Завод
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Расположение</strong>

              <p class="text-muted">Россия, Томск</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i>Культуры</strong>

              <p>
                <span class="label label-success">Пшеница озимая</span>
                <span class="label label-success">Картофель</span>
                <span class="label label-success">Озимая рожь</span>
                <span class="label label-success">Яровая пшеница</span>
                <span class="label label-success">Рожь</span>
              </p>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Памятка</strong>

              <p>Вы тут царь и Бог творите, что хотите !!! </p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Предприятие</a></li>
              <li><a href="#timeline" data-toggle="tab">Поля</a></li>
              <li><a href="#settings" data-toggle="tab">Культуры</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Название</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputName" placeholder="предприятие">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Телефон</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" placeholder="сот.">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputExperience" class="col-sm-2 control-label">Площадь</label>

                    <div class="col-sm-10">
                       <div class="form-group">
                
                          <select class="form-control select2" style="width: 100%;">
                            <option selected="selected">Менее 1 000 га</option>
                            <option>Менее 1 000 га</option>
                            <option>1 000-5 000 га</option>
                            <option>5 000-10 000 га</option>
                            <option>От 10 000 га</option>
                          </select>
                        </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="inputSkills" class="col-sm-2 control-label">Информация о предприятие</label>

                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputSkills" placeholder="инфо">
                    </div>
                  </div>
                  <!--<div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                        </label>
                      </div>
                    </div>
                  </div>-->
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-success">отправить</button>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="timeline">
                Информация о полях. 
              </div>
              <!-- /.tab-pane -->

              <div class="tab-pane" id="settings">
                    <div class="form-group">
                    <label>Выбор культур (нужно править)</label>
                    <select class="form-control select2" multiple="multiple" data-placeholder="Select a State" style="width: 100%;">
                      <option>Пшеница</option>
                      <option>Рожь</option>
                      <option>Овёс</option>
                      <option>Ячмень</option>
                      <option>Картофель</option>
                      <option>Морковь</option>
                      <option>Горох</option>
                    </select>
                    </div>
              
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
  
  <!-- /.content-wrapper -->